/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: "fonts/font2.woff2";
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: "fonts/font2.woff2";
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: "fonts/font2.woff2";
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.preheader {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  font-family: "Poppins";
}

.mainheader {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.buttons {
  margin: 0px 30px 0px 30px;
}

.buttons a {
  color: white;
  font-size: 26px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  border-bottom: none;
  transition: ease-in 0.2s;
}

.buttons a:hover {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.logo img {
  width: 80px;
  margin: 10px 10px 10px 45px;
}
.logo:hover {
  cursor: pointer;
}

.footer {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  justify-content: space-evenly;
  font-family: "Poppins";
}

.copyright {
  font-size: 12px;
}

.mainfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
}

.footerlinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerlinks a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.footerlinks a:hover {
  text-decoration: underline;
  color: black;
}

.footersocials {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  flex-direction: row;
  width: 220px;
  align-items: center;
  justify-content: center;
}

.social img {
  width: 50px;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .footerlinks {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
  }
  .social {
    width: 150px;
  }
}
.body, html {
  font-family: "Poppins";
  scroll-behavior: smooth;
}

.intro-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/heroImage.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: white;
  text-align: center;
}

.intro-section h1 {
  margin-top: calc(50vh - 20px);
}

.intro-section b {
  color: #d98738;
}

.intro-section a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.free-estimate {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0px 70px 0px;
  text-align: center;
}

.free-estimate button {
  padding: 20px;
  margin-top: 30px;
  background-color: #943232;
  border: solid 3px #943232;
  color: white;
  border-radius: 5px;
  font-size: larger;
  transition: ease-in 0.2s;
  font-family: "Poppins";
}

.free-estimate button:hover {
  background-color: white;
  border: solid 3px #943232;
  color: black;
  cursor: pointer;
}

.free-estimate b {
  color: #943232;
}

.services {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.descriptions-item {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  background-color: black;
  max-width: 301px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .descriptions {
    flex-direction: column;
  }
  .descriptions-item {
    max-width: 400px;
  }
}
.descriptions-item img {
  max-width: 301px;
  margin: 25px;
  border-radius: 5px;
}

.descriptions-item p {
  margin: 0px 20px 20px 20px;
  color: white;
}

.descriptions-item h2 {
  color: #d98738;
}

.cool button {
  padding: 20px;
  margin-top: 30px;
  background-color: #d98738;
  border: solid 3px #d98738;
  color: white;
  border-radius: 5px;
  font-size: larger;
  transition: ease-in 0.2s;
  font-family: "Poppins";
}

.cool button:hover {
  background-color: white;
  border: solid 3px #d98738;
  color: black;
  cursor: pointer;
}

.logoanimated {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  margin: 5rem;
  width: 600px;
}

@-webkit-keyframes animation1 {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animation1 {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#viewProducts {
  margin-top: 10rem 0;
  opacity: 0.7;
  background-color: white;
  color: #703e21;
  padding: 10px 60px 10px 60px;
  border-radius: 20px;
  font-size: larger;
  transition: 0.2s ease-in-out 0s;
}
#viewProducts p {
  margin-bottom: 0;
}
#viewProducts:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.25);
}

.line h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #703e21;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 32px;
}

.line h2 span {
  background: #fff;
  padding: 0 50px;
}

#bestsellers {
  margin-top: 80px;
  width: 90%;
  padding: 80px 30px 30px 30px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.mycontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fadeInUp {
  opacity: 0;
}

.faded {
  opacity: 1;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.divider-10 {
  height: 10px;
  width: 100%;
}

.divider-20 {
  height: 20px;
  width: 100%;
}

.divider-30 {
  height: 30px;
  width: 100%;
}

.divider-40 {
  height: 40px;
  width: 100%;
}

.divider-50 {
  height: 50px;
  width: 100%;
}

.divider-60 {
  height: 60px;
  width: 100%;
}

.divider-70 {
  height: 70px;
  width: 100%;
}

.divider-80 {
  height: 80px;
  width: 100%;
}

.divider-90 {
  height: 90px;
  width: 100%;
}

.divider-100 {
  height: 100px;
  width: 100%;
}

.cool-button {
  padding: 10px;
  margin: 0px 10px 0px 10px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #302f2e;
  border: solid 2px #302f2e;
  transition: 0.5s;
  text-transform: uppercase;
}

.cool-button:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logoanimated {
    margin: 5rem 0;
    width: 80%;
  }
}
#best-sellers {
  padding: 50px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title-wrapper .title {
  font-size: xx-large;
  margin: 0 30px;
}
.title-wrapper .line {
  width: 30%;
  background: #703e21;
  height: 2px;
}

.bs-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bs-block-wrapper .item {
  width: 500px;
  background: #f8f4f4;
  margin-top: 50px;
}
.bs-block-wrapper .item img {
  width: 100%;
  filter: saturate(1.5);
}
.bs-block-wrapper .item .bs-body {
  padding: 20px;
}
.bs-block-wrapper .item .bs-body .top-row {
  display: flex;
  justify-content: space-between;
}
.bs-block-wrapper .item .bs-body p {
  text-align: justify;
}

@media screen and (max-width: 600px) {
  #best-sellers {
    padding: 10px;
  }
}
.mycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.membership {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8f4f4;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
}
.membership button {
  padding: 20px 30px;
  margin-top: 30px;
  background-color: #b66f47;
  border: solid 3px #b66f47;
  color: white;
  border-radius: 5px;
  font-size: xx-large;
  transition: ease-in 0.2s;
  font-family: "Poppins";
}
.membership button:hover {
  background-color: white;
  border: solid 3px #b66f47;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .membership {
    width: 80%;
  }
}
.topics {
  display: flex;
  gap: 15px;
  background-color: #703e21;
  justify-content: space-between;
}
.topics #specialties .topic-background {
  background: linear-gradient(to top, rgba(112, 62, 33, 0.4), rgba(112, 62, 33, 0.4)), url("/images/specialties.jpg") no-repeat top center;
  background-size: cover;
}
.topics #our-story .topic-background {
  background: linear-gradient(to top, rgba(112, 62, 33, 0.4), rgba(112, 62, 33, 0.4)), url("/images/our-story.jpg") no-repeat top center;
  background-size: cover;
}
.topics #ingredients .topic-background {
  background: linear-gradient(to top, rgba(112, 62, 33, 0.4), rgba(112, 62, 33, 0.4)), url("/images/ingredients.jpg") no-repeat top center;
  background-size: cover;
}
.topics .topics-item {
  background-repeat: no-repeat;
  width: 30%;
  text-align: center;
  overflow: hidden;
  max-height: 800px;
}
.topics .topics-item .topic-background {
  height: 800px;
  width: 100%;
}
.topics .topics-item .topic-text {
  position: absolute;
  width: 30%;
  transform: translateY(-250%);
  padding: 50px 0;
  height: 200px;
  color: #FFFFFF;
}
.topics .topics-item .topic-text h1 {
  font-size: xx-large;
}
.topics .topics-item .topic-text p {
  font-size: x-large;
  padding: 0 50px;
}

@media screen and (max-width: 600px) {
  .topics {
    flex-direction: column;
    align-items: center;
  }
  .topics .topics-item {
    width: 100%;
  }
  .topics .topics-item .topic-text {
    width: 100%;
  }
}
#location h2 {
  text-align: center;
}

#reviews {
  margin-bottom: 5rem;
  overflow: hidden;
}
#reviews .fa-solid {
  font-size: 50px;
  position: absolute;
  transform: translateY(-450%);
  transition: all 0.2s;
}
#reviews .fa-solid:hover {
  cursor: pointer;
  font-size: 51px;
}
#reviews .fa-chevron-right {
  right: 2rem;
}
#reviews .fa-chevron-left {
  left: 2rem;
}

.review {
  background-color: #e4c3aa;
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  padding: 0 50px;
  flex-shrink: 0;
}
.review img {
  width: 200px;
  border-radius: 100px;
  position: absolute;
  transform: translateY(-80%);
}
.review .stars {
  margin-top: 10rem;
}
.review .review-body {
  font-weight: 500;
  text-align: justify;
}
.review .review-quote {
  align-self: flex-end;
  font-weight: 500;
}

.reviewCarousel {
  display: flex;
  margin-top: 7rem;
  justify-content: space-evenly;
  gap: 12rem;
  transition: all 0.5s ease-out;
}

.active {
  background-color: #d8a986 !important;
  margin-top: 1% !important;
}

@media only screen and (max-width: 1800px) {
  .review {
    width: 100%;
  }
}
.hidden {
  display: none;
}

section {
  margin-top: 5rem;
}

@media only screen and (max-width: 1000px) {
  .hidden-on-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1001px) {
  .hidden-on-desktop {
    display: none;
  }
}
