#best-sellers{
    padding: 50px;
}
.title-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .title{
        font-size: xx-large;
        margin: 0 30px;
    }
    .line{
        width: 30%;
        background: $primary-color;
        height: 2px;
    }
}

.bs-block-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .item{
        width: 500px;
        background: $secondary-color;
        margin-top: 50px;
        img{
            width: 100%;
        }
        .bs-body{
            padding: 20px;
            .top-row{
                display: flex;
                justify-content: space-between;
            }
            p{
                text-align: justify;
            }
        }
    }
    

}

@media screen and (max-width: 600px){
    #best-sellers{
        padding: 10px;
    }
}

