.body, html{
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
.intro-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/heroImage.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    text-align: center;
}
.intro-section h1{
    margin-top: calc(100vh/2 - 20px);
}
.intro-section b{
    color: #d98738;
}
.intro-section a{
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.free-estimate{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px 70px 0px;
    text-align: center;
}
.free-estimate button{
    padding: 20px;
    margin-top: 30px;
    background-color: #943232;
    border: solid 3px #943232;
    color: white;
    border-radius: 5px;
    font-size: larger;
    transition: ease-in 0.2s;
    font-family: 'Poppins';
}
.free-estimate button:hover{
    background-color: white;
    border: solid 3px #943232;
    color: black;
    cursor: pointer;
}
.free-estimate b{
    color: #943232;
}

.services{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.descriptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.descriptions-item{
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    background-color: black;
    max-width: 301px;
    border-radius:5px;
}
@media screen and (max-width: 1000px) {
    .descriptions{
        flex-direction: column;
    }
    .descriptions-item{
        max-width: 400px;
    }
}
.descriptions-item img{
    max-width: 301px;
    margin: 25px;
    border-radius:5px;
}
.descriptions-item p{
    margin: 0px 20px 20px 20px;
    color: white;
}
.descriptions-item h2{
    color: #d98738;
}

.cool button{
    padding: 20px;
    margin-top: 30px;
    background-color: #d98738;
    border: solid 3px #d98738;
    color: white;
    border-radius: 5px;
    font-size: larger;
    transition: ease-in 0.2s;
    font-family: 'Poppins';
}
.cool button:hover{
    background-color: white;
    border: solid 3px #d98738;
    color: black;
    cursor: pointer;
}

.logoanimated{
    animation-name: animation1;
    animation-duration: 3s;
    height: 750px;
}
@keyframes animation1 {
    0%   {opacity: 0; transform: translateY(-80px);}
    100%  {opacity: 1; transform: translateY(0px);}	
}

#viewProducts{
    margin-top: -60px;
    opacity: 0.7;
    background-color: white;
    color: #703e21;
    padding: 10px 60px 10px 60px;
    border-radius: 20px;
    font-size: larger;
    transition: .2s ease-in-out 0s;
}
#viewProducts:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.25);
}
.line h2{
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid #703e21; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 32px;
} 
.line h2 span{ 
    background:#fff; 
    padding:0 50px; 
}
#bestsellers{
    margin-top: 80px;
    width: 90%;
    padding: 80px 30px 30px 30px;
}
.bestsellersitems{

}
.bestsellersitems div{

}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.mycontainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.fadeInUp{
    opacity: 0;

}
.faded{
    opacity: 1;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(50px);
    }
    100% {
        opacity:1;
        transform: translateY(0px);
    }
}

.divider-10{
    height: 10px;
    width: 100%;
}
.divider-20{
    height: 20px;
    width: 100%;
}
.divider-30{
    height: 30px;
    width: 100%;
}
.divider-40{
    height: 40px;
    width: 100%;
}
.divider-50{
    height: 50px;
    width: 100%;
}
.divider-60{
    height: 60px;
    width: 100%;
}
.divider-70{
    height: 70px;
    width: 100%;
}
.divider-80{
    height: 80px;
    width: 100%;
}
.divider-90{
    height: 90px;
    width: 100%;
}
.divider-100{
    height: 100px;
    width: 100%;
}

.cool-button{
    padding: 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #302f2e;
    border: solid 2px #302f2e;
    transition: 0.5s;
    text-transform: uppercase;
}
.cool-button:hover{
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

