

.topics{
    display: flex;
    gap: 15px;
    background-color: $primary-color;
    justify-content: space-between;
    #specialties{
        .topic-background{
            background: linear-gradient(to top, rgba(112, 62, 33, .4), rgba(112, 62, 33, .4)), url('/images/specialties.jpg') no-repeat top center;
            background-size: cover;
        }
    }
    #our-story{
        .topic-background{
            background: linear-gradient(to top, rgba(112, 62, 33, .4), rgba(112, 62, 33, .4)), url('/images/our-story.jpg') no-repeat top center;
            background-size: cover;
        }
    }
    #ingredients{
        .topic-background{
            background: linear-gradient(to top, rgba(112, 62, 33, .4), rgba(112, 62, 33, .4)), url('/images/ingredients.jpg') no-repeat top center;
            background-size: cover;
        }
    }
    
    .topics-item{
        background-repeat: no-repeat;
        width: 30%;
        text-align: center;
        overflow: hidden;
        max-height: 800px;
        .topic-background{
            height: 800px;
            width: 100%;
        }
        .topic-text{
            position: absolute;
            width: 30%;
            transform: translateY(-250%);
            padding: 50px 0;
            height: 200px;
            color: $white;
            h1{
                font-size: xx-large;
                }
            p{
                font-size: x-large;
                padding: 0 50px;
                }
            }
    
    }
}